@import 'shared/scss/variables';
@import 'shared/scss/mixins';

.header {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bg-primary;
    padding: 3em 0;

    h1,
    h2 {
        color: $primary;
        text-align: center;
        font-family: 'Montserrat';
        color: white;
        font-size: 3em;
        margin: 0;

        .letter {
            display: inline-block;
            animation-name: appearLetter;
            animation-duration: 0.15s;
            animation-timing-function: cubic-bezier(0.75, 0.22, 0.43, 1.67);
            animation-fill-mode: forwards;
            transform: scale(0);
        }
    }

    h1 {
        margin-top: 0.5em;
    }

    h2 {
        font-size: 2em;
        color: white;
        margin-top: 1em;
        letter-spacing: 1em;
    }
}

@keyframes appearLetter {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
